<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/images/post.png">
    <meta property="og:image" content="/static/images/post.png">


    <title>
        دلنوشته
    </title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    {#    <link rel="shortcut icon" href="/static/favicon.ico">#}

    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="/static/alertify/alertify.core.css">
        <link rel="stylesheet" type="text/css" href="/static/alertify/alertify.default.css">
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>

    {% endblock %}

    {% block JS %}
        <script type="text/javascript" src="/static/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/static/alertify/alertify.min.js"></script>

        <script>
            var django = {jQuery: jQuery};
            var is_auth = {{ user.is_authenticated|yesno:"true,false" }};
            var likeUrl = '{% url "like_ajax" %}';
            var sendCommentUrl = '{% url 'send_comment' %}';
            var checkUrl = '{% url "check" %}';
            var checkSignupUrl = '{% url "check_signup" %}';
            var forgetUrl = '{% url "forget" %}';
            {#            var searchUrl = '{% url "search_sug" %}';#}
        </script>

        <script type="text/javascript" src="/static/base.js?v={{ SITE_VERSION }}"></script>

    {% endblock %}


</head>

<body class="main_container">

<div id="header" class="mrg-center">
    <div class="mrg-center main-width table">

        <a class="right logo" href="{% url 'home' %}"></a>


        <form class="left search" method="get" action="{% url 'search' %}">
            <input class="right" id="search-text" placeholder="جستجو..." name="q"
                   value="{{ q|default:'' }}">

            <div class="right search-btn">
                <img src="/static/images/search-btn.png" width="28" height="26">
            </div>
        </form>

        <div class="left items">
            <a class="left item{% if p == 'monasebat' %} active{% endif %}" href="{% url 'monasebat' %}">
                <div class="item-text">مناسبات</div>
            </a>
            <a class="left item{% if p == 'hadis' %} active{% endif %}" href="{% url 'hadis' %}">
                <div class="item-text">حدیث</div>

            </a>
            <a class="left item{% if p == 'talk' %} active{% endif %}" href="{% url 'talk' %}">
                <div class="item-text">بحث</div>

            </a>
            <a class="left item{% if p == 'del' %} active{% endif %}" href="{% url 'del' %}">
                <div class="item-text">دلنوشته</div>

            </a>
            <a class="left item{% if p == 'hot' %} active{% endif %}" href="{% url 'home' %}">
                <div class="item-text">داغ</div>

            </a>
        </div>
        {% if user.is_authenticated %}
            <span class="user-text right">{{ user }}</span>

            <a class="left signup-btn" href="{% url 'logout' %}?next={{ request.path }}">
                خروج
            </a>
            <a class="left signin-btn" href="{% url 'user_page' user.username %}">
                صفحه من
            </a>

        {% else %}

            <div class="left signup-btn signup">
                ثبت نام

            </div>
            <div class="left signin-btn login">
                ورود

            </div>
        {% endif %}
    </div>
</div>

<div class="main-width table mrg-center main">


    <div class="right-main right">

        {% block content %}



        {% endblock %}
    </div>

    {% include 'left_menu.html' %}

</div>

<footer>
    <div class="copywrite mrg-center main-width">
        کلیه حقوق این سایت به
<a href="http://prkgroup.ir/">
            گروه پردازش رایانه کرمان

</a>
        تعلق دارد.
    </div>
</footer>

<section id="login-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">

        <div class="header">
            به دلنوشته وارد شوید
        </div>

        <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">

            <div class="message error red">
            </div>

            <div class="login-text right"> نام کاربری</div>
            <input id="login-username" name="username" class="right input " placeholder="  " dir="ltr"
                   type="text">

            <div class="pass-text right"> رمز عبور</div>
            <input id="login-pass" name="password" class="center input" placeholder=" " dir="ltr"
                   type="password">

            <input value="ورود" class="submit right" type="submit">

            <div class="go-signup submit right">
                ثبت نام سریع
            </div>

        </form>
    </div>
</section>

<section id="signup-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">

        <div class="header">
            عضو دلنوشته شوید
        </div>

        <form action="{% url "signup" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">

            <div class="login-text right"> نام کاربری</div>
            <input id="signup-name" name="username" class="right input " placeholder="" dir="ltr"
                   type="text">

            <div class="signup error red">

            </div>

            {#            <div class="pass-text right"> ایمیل</div>#}
            {#            <input id="login-pass" name="email" class="center input" placeholder=" " dir="ltr"#}
            {#                   type="password">#}

            <div class="pass-text right"> رمز عبور</div>
            <input id="signup-pass" name="password" class="center input" placeholder="" dir="ltr"
                   type="password">

            <div class="signup error red">

            </div>

            <input value="ثبت نام" class="submit " style="margin-right: 0;" type="submit">

        </form>
    </div>
</section>

<section id="report-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">


        <form action="" method="post">

            <div class="report-text right"> ایا این پست را به عنوان یک پست نامناسب گزارش میدهید ؟</div>


            <input value="بله " class="report-sub" type="submit">
            <input value="خیر " class="report-sub" type="submit">

        </form>
    </div>
</section>

{% include 'messages_alertify.html' %}

</body>

</html>