<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        دلنوشته
    </title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    {#    <link rel="shortcut icon" href="/static/favicon.ico">#}

    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>

    {% endblock %}

    {% block JS %}

        <script>
            var django = {jQuery: jQuery};
        </script>

    {% endblock %}


</head>

<body class="main_container">

<div id="header" class="mrg-center">
    <div class="mrg-center main-width table">
        <div class="right logo"></div>
        <div class="right search">
            <input class="right" id="search-text" placeholder="جستجو"
                   value="">

            <div class="right search-btn">
                <img src="/static/images/search-btn.png" width="28" height="26">
            </div>
        </div>
        <div class="left items">
            <div class="left item">
                <div class="item-text">مناسبات</div>
            </div>
            <div class="left item">
                <div class="item-text">حدیث</div>

            </div>
            <div class="left item">
                <div class="item-text">بحث</div>

            </div>
            <div class="left item">
                <div class="item-text">دلنوشته</div>

            </div>
            <div class="left item">
                <div class="item-text no-border">بحث</div>

            </div>
        </div>

    </div>
</div>

{% block content %}



{% endblock %}
<footer>
    <div class="copywrite mrg-center main-width">
      کلیه حقوق این سایت به
        شرکت پردازش رایانه کرمان تعلق دارد.
    </div>
</footer>
</body>

</html>