<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        دلنوشته
    </title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    {#    <link rel="shortcut icon" href="/static/favicon.ico">#}

    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>

    {% endblock %}

    {% block JS %}
        <script type="text/javascript" src="/static/jquery/jquery-1.11.2.min.js"></script>

        <script>
            var django = {jQuery: jQuery};
            var is_auth = {{ user.is_authenticated|yesno:"true,false" }};
            var likeUrl = '{% url "like_ajax" %}';
        </script>

        <script type="text/javascript" src="/static/base.js?v={{ SITE_VERSION }}"></script>

    {% endblock %}


</head>

<body class="main_container">

<div id="header" class="mrg-center">
    <div class="mrg-center main-width table">
        <div class="right logo"></div>
        <div class="right search">
            <input class="right" id="search-text" placeholder="جستجو"
                   value="">

            <div class="right search-btn">
                <img src="/static/images/search-btn.png" width="28" height="26">
            </div>
        </div>
        <div class="left items">
            <div class="left item">
                <div class="item-text">مناسبات</div>
            </div>
            <div class="left item">
                <div class="item-text">حدیث</div>

            </div>
            <div class="left item">
                <div class="item-text">بحث</div>

            </div>
            <div class="left item">
                <div class="item-text">دلنوشته</div>

            </div>
            <div class="left item">
                <div class="item-text no-border">بحث</div>

            </div>
        </div>

    </div>
</div>

{% block content %}



{% endblock %}
<footer>
    <div class="copywrite mrg-center main-width">
        کلیه حقوق این سایت به
        شرکت پردازش رایانه کرمان تعلق دارد.
    </div>
</footer>
<section id="login-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">

        <div class="header">
            وارد دلنوشته شوید
        </div>
        <form action="" method="post">

            <div class="login-text right"> نام کاربری</div>
            <input id="login-user" name="username" class="right input " placeholder="  " dir="ltr"
                   type="text">

            <div class="pass-text right"> رمز عبور</div>
            <input id="login-pass" name="password" class="center input" placeholder=" " dir="ltr"
                   type="password">


            <input value="ورود" class="submit right" type="submit">
            <input value="ثبت نام سریع" class="submit right" type="submit">

        </form>
    </div>
</section>
<section id="signup-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">

        <div class="header">
            ثبت نام
        </div>
        <form action="" method="post">

            <div class="login-text right"> نام کاربری</div>
            <input id="login-user" name="username" class="right input " placeholder="  " dir="ltr"
                   type="text">

            <div class="pass-text right"> ایمیل</div>
            <input id="login-pass" name="email" class="center input" placeholder=" " dir="ltr"
                   type="password">

            <div class="pass-text right"> رمز عبور</div>
            <input id="login-pass" name="password" class="center input" placeholder=" " dir="ltr"
                   type="password">


            <input value="ثبت نام" class="submit " style="margin-right: 0;" type="submit">


        </form>
    </div>
</section>
<section id="report-box" class="account-section hidden">
    <div class="radius mrg-center center pop-box">


        <form action="" method="post">

            <div class="report-text right"> ایا این پست را به عنوان یک پست نامناسب گزارش میدهید ؟</div>


            <input value="بله " class="report-sub" type="submit">
            <input value="خیر " class="report-sub" type="submit">

        </form>
    </div>
</section>
</body>

</html>