{% extends 'base.html' %}
{% load post_template_tags %}

{% block CSS %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="main-width mrg-center main">

        {% for post in posts %}
            <div class="del-item radius mrg-center">
                <div class="header">
                    <div class="right username">
                        {{ post.creator.name }}
                    </div>
                    <div class="left time">
                        {{ post.date }}
                    </div>
                </div>
                <div class="main-text mrg-center">
                    {{ post.text }}
                </div>
                <div class="bottom-box mrg-center">
                    <input type="hidden" class="post-id" name="post-id" value="{{ post.id }}">

                    <a class="right comment-btn" href="{% url 'post_page' post.id %}">
                        {{ post.comments_count }}
                    </a>

                    <div class="right like-btn{% if post|is_like:user %} active{% endif %}">{{ post.like_count }}</div>
                    <div class="left report-btn"></div>
                </div>
            </div>
        {% endfor %}


    </div>


{% endblock %}